#hours {
  color: blue;
  font-size: 20px;
}

#minutes {
  color: green;
  font-size: 20px;
}

#seconds {
  color: red;
  font-size: 20px;
}

ol {
  list-style: none;
}

input[type="checkbox"] {
  margin-right: 10px;
}

audio {
  display: none;
}

/* based off of https://www.tutorialspoint.com/How-I-can-change-the-style-of-alert-box-using-JavaScript */
#confirm {
  display: none;
  box-sizing: border-box;
  background-color: #F1F2F6;
  color: #373D3F;
  border: 1px solid #aaa;
  position: fixed;
  width: 250px;
  top: 20%;
  left: 50%;
  margin-left: -100px;
  padding: 20px 40px;
  box-sizing: border-box;
  text-align: center;
  z-index: 5;
}

#confirm button {
   background-color: #218838;
   display: inline-block;
   border-radius: 5px;
   border: 1px solid #aaa;
   color: #fff;
   padding: 5px;
   text-align: center;
   width: 80px;
   cursor: pointer;
}

#confirm .message {
   text-align: left;
}
