#hours {
  color: blue;
  font-size: 20px;
}

#minutes {
  color: green;
  font-size: 20px;
}

#seconds {
  color: red;
  font-size: 20px;
}

ol {
  list-style: none;
}

input[type="checkbox"] {
  margin-right: 10px;
}
